.htaccess
/config.php
admin/config.php

!index.html

download/
admin/view/image
ProvidersScans/
image/data/
image/cache/
system/cache/
system/logs/
*.png
*.gif
*.jpg
*.html
image/
system/
ProvidersScans/
system/cache/
system/logs/
system/cache_mfp/
vqmod/
*.log
*.html
.idea/workspace.xml
system/logs/error.txt
system/cache_mfp/idx.1.1a536db0fddf860c10dbf256208e4376.time
*.txt
*.log
catalog.zip