
			.mfilter-counter {
				background: #87b23c;
				color: #ffffff;
			}
			.mfilter-counter:after {
				border-right-color: #87b23c;
			}
		
				.mfilter-search #mfilter-opts-search_button {
					background-color: #87b23c;
				}
			